<div class="selection-box" (click)="toggleDropdownList()" [formGroup]="form!" [class.active]="!closed">
  <div class="value" [formControlName]="controlName" ngDefaultControl >{{c().value}}</div>
  <div class="icon" *ngIf="closed">
    <mat-icon>expand_more</mat-icon>
  </div>
  <div class="icon" *ngIf="!closed">
    <mat-icon>expand_less</mat-icon>
  </div>
</div>
<div class="options-list" *ngIf="!closed" (mousemove)="mouseMove()" [class.typing]="typing">
  <div class="option-item" *ngFor="let item of options; let i = index" (click)="selectValue(item)" [class.active]="this.activeValue === item" [id]="'item-' + i">
  {{item}}
  </div>
</div>
