@import "../../../variables";

.selection-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  border-radius: 15px;
  width: 65px;
  box-sizing: border-box;
  border: 2px solid $secondary-text-color;
  cursor: pointer;

  .value {
    padding-left: 8px;
  }

  .icon {
    padding-top: 5px;
  }
}
.options-list {
  border: 1px solid $secondary-text-color;
  max-height: 200px;
  width: 60px;
  border-radius: 3px;
  overflow-y: scroll;
  padding: 0 8px;

  .option-item {
    cursor: pointer;
    &.active, &:hover {
      background-color: blue;
      color: white;
    }
  }

  &.typing {
    .option-item:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}
