@import "../variables";

.container {
  background: $primary-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  .content {
    border-radius: 15px;
    background-color: white;
    width: clamp(200px, 50%, 350px);
    .amount-input-wrapper {
      padding: $content-padding;
      padding-bottom: 0;
      .amount-input {
        height: 44px;
        border-radius: 22px;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid $secondary-text-color;
        padding: 0 10px;
        font-weight: bold;
        font-size: 20px;

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus-visible {
          outline-color: $primary-color;
          color: $primary-color;
        }
      }

    }
    .currency-input-wrapper {
      padding: $content-padding;
      .switch-icon {
        color: white;
        cursor: pointer;
        background: $primary-gradient;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 34px;

        &:active {
          opacity: 0.8;
        }
      }
    }
    .conversion-rate-wrapper {
      padding: $content-padding;

      .conversion-text {
        color: $secondary-text-color;
        white-space: nowrap;

        span {
          text-decoration: underline;
        }
      }
    }

    .conversion-result-wrapper {
      padding: $content-padding;

      .input-value {
        color: $secondary-text-color;
        font-weight: bold;
        font-size: 25px;

        span {
          font-weight: normal;
          font-size: 15px;
        }

        &.equals {
          margin: 1rem 0;
        }
      }

      .output-value {
        color: $primary-color;
        font-weight: bold;
        font-size: 30px;

        span {
          font-weight: normal;
          font-size: 15px;
        }
      }
    }

    .chart-wrapper {
      margin-top: 10px;
      padding: $content-padding;
      padding-top: 0;
      .row {
        margin-bottom: 15px;
        .date {
          color: $secondary-text-color;
          white-space: nowrap;
          display: flex;
          align-items: center;

          .clock-icon {
            margin-right: 3px;
            transform: scale(0.7);
          }
        }
      }

    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .column {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .label {
    color: $secondary-text-color;
    font-size: 14px;
    margin: 7px 0;
  }

  .hr-line {
    margin: 0 10px;
    height: 1px;
    background-color: $secondary-text-color;
    width: 100%;
  }
}

